{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
<div class="container">
    <div class="row" style="margin-top: 7%;">
        <!-- Empty div -->
        <div class="col-md-2"></div>
        <div class="col-md-4"><img src="https://github.com/lex-of-pakawa/instagram/blob/master/static/images/mockup.png?raw=true" width="98%;"></div>
        <div class="col-md-4">
            {% if form.errors %}
            <p> Password or Username is incorrect </p>
            {% endif %}
            <div class="panel panel-default">

                <div class="panel-heading" style="text-align: center;">
                    <img src="https://github.com/lex-of-pakawa/instagram/blob/master/static/images/IG.png?raw=true" width="60%;" style="padding-top: 5%; padding-bottom: 3%;">
                    <h4 class="text-center">Log in to see photos and videos from your friends</h4>
                </div>
                <div class="panel-body">

                    <form action="/accounts/login/" method="post">
                        {% csrf_token %} {% bootstrap_form form%}

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-sm" value="Log in" style="width: 100%;">
                            <p style="text-align: center; padding: 5%;">By logging in, you agree to our Terms. Data Policy and Cookie Policy.</p>
                        </div>

                        <input type="hidden" name="next" value="{{next}}">

                    </form>
                    <p style="text-align: center;">Don't have an account? <a href="{% url 'registration_register' %}">Sign Up</a></p>

                </div>

            </div>

        </div>
        <!-- empty div -->
        <div class="col-md-2"></div>
    </div>
</div>{% endblock %}
