{%extends 'profile/base.html'%}{% block content %}

<div class="container">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
        {% for profile in all_profiles%}
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="text-align: center; margin-bottom: 10px;">
          <div style="border: solid; border-width: 1px; padding-top: 5px;">
            <div class="row" style="text-align: center;">
                <a href="{%url 'single_user' profile.id %}">
                    <img src={{profile.profile_photo.url}} class="img-responsive img-rounded" style="height:250px; width:250px; margin: 0 auto; border-radius: 50%;">
                </a>
            </div>
            <div class="row">
                <a href="{%url 'single_user' profile.id %}"></a>
                <h5 style="font-size:24px;">{{profile.username}}</h5>
                <a href="{% url 'follow' profile.id %}">
                    <button type="button" class="btn btn-primary" style="margin-bottom:10px;">Follow </button>
                </a>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
</div>
{% endblock %}
